.main-header {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c28b00;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  color: white;
}

.main-header img {
  padding-top: 1.5em;
}